
@font-face {
    font-family: 'Poppins';
    src:url('../Fonts/Poppins-Regular.ttf') format('truetype');
}
.full-screen-div {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ccc; /* Цвет фона вашего div */
    z-index: 9998; /* Устанавливает div поверх остального контента */
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerrr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px; /* Занимаем 100% высоты экрана */
    background-color: #3498db; /* Голубой цвет, можно изменить на другой по желанию */
    padding: 20px; /* Добавляем отступ от краев контейнера */
    border-radius: 10px; /* Закругляем углы контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем небольшую тень для эффекта поднятия */
}

    /* Дополнительные стили для элементов внутри контейнера, если необходимо */
    .containerrr h1 {
        color: #ffffff; /* Белый цвет текста */
        font-size: 24px; /* Размер шрифта */
        margin-bottom: 10px; /* Добавляем отступ снизу между заголовком и следующим элементом */
    }

.containerrr p {
    color: #ffffff; /* Белый цвет текста */
    font-size: 18px; /* Размер шрифта */
    margin-bottom: 20px; /* Добавляем больший отступ между параграфами */
}

    /* Пример добавления отступов для красивого внешнего вида */
.containerrr > * {
    margin: 10px;
}

.map {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #333;
}
[class*="copyrights-pane"] {
    display: none !important;
}
.menu-centerrrrr {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 70px;
    height: 70px;
    background: url(../images/center.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    cursor: pointer;
    z-index: 1;
    border-color: rgba(0,0,0,0.0);
    
}
.menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    z-index: 1;
    background: #dbdbdb;
    border: 5px,solid,#C7C7C7;
    border-radius: 10px;
}

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #616161;
        transition-duration: .25s;
    }

        .menu-btn > span::before {
            content: '';
            top: -10px;
        }

        .menu-btn > span::after {
            content: '';
            top: 10px;
        }


.menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}
.menu-icon{
    position:absolute;
    right:10%;
}
.menu-box-element {
    display:grid;
    align-items:center;
    margin:15px auto;
    height: 102px;
    width: 95%;    
    background: rgba(255,255,255,1);
    opacity: 1;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    position: relative;

}

    .menu-item:hover {
        background-color: #EFEDED;
    }



#menu-toggle {
    opacity: 0;
}
#menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
}

    #menu-toggle:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu-toggle:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

#menu-toggle:checked ~ .menubox {
    visibility: visible;
    left: 0;
}