
@font-face {
    font-family: 'Poppins';
    src:url('../Fonts/Poppins-Regular.ttf') format('truetype');
}



* {
    touch-action: manipulation;
}


.popup {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9998;
    width: 100%;
}

.popup-content {
    text-align: center;
    display: inline-block;

    width: 100%;
    align-content: center;
    justify-content: center;
}
    .popup-content progress {
        display: inline-block;
        grid-area: header;
        width: 190px;
        height: 50px;
        background: none;
        border: 0;
        border-radius: 16px;
        position: relative;
        align-content: center;
    }

        .popup-content progress::-webkit-progress-bar {
            align-content: center;
            height: 50px;
            width: 150px;
            margin: 0 auto;
            background-color: #CCC;
            border-radius: 15px;
            box-shadow: 0px 0px 6px #777 inset;
        }

        .popup-content progress::-webkit-progress-value {
            align-content: center;
            display: inline-block;
            float: left;
            height: 11px;
            background: #05FF00;
            border-radius: 15px;
            box-shadow: 0px 0px 6px #777 inset;
        }

    .popup-content img {
        width: 100px; /* Ширина изображения самоката */
        height: auto;
        margin-bottom: 10px;
    }

    .popup-content button {
        margin-top: 10px;
        padding: 8px 16px;
        background-color: #007bff; /* Цвет кнопок */
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .popup-content button:hover {
            background-color: #0056b3; /* Цвет кнопок при наведении */
        }

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный цвет */
    z-index: 9996;
}
.overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный цвет */
    z-index: 9997;
}
.full-screen-div {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ccc; /* Цвет фона вашего div */
    z-index: 9998; /* Устанавливает div поверх остального контента */
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerrr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px; /* Занимаем 100% высоты экрана */
    background-color: #3498db; /* Голубой цвет; можно изменить на другой по желанию */
    padding: 20px; /* Добавляем отступ от краев контейнера */
    border-radius: 10px; /* Закругляем углы контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем небольшую тень для эффекта поднятия */
}

    /* Дополнительные стили для элементов внутри контейнера; если необходимо */
    .containerrr h1 {
        color: #ffffff; /* Белый цвет текста */
        font-size: 24px; /* Размер шрифта */
        margin-bottom: 10px; /* Добавляем отступ снизу между заголовком и следующим элементом */
    }

.containerrr p {
    color: #ffffff; /* Белый цвет текста */
    font-size: 18px; /* Размер шрифта */
    margin-bottom: 20px; /* Добавляем больший отступ между параграфами */
}

    /* Пример добавления отступов для красивого внешнего вида */
.containerrr > * {
    margin: 10px;
}

.map {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #333;
}
[class*="copyrights-pane"] {
    display: none !important;
}
.menu-centerrrrr {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 70px;
    height: 70px;
    background: url(../images/center.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    cursor: pointer;
    z-index: 1;
    border-color: rgba(0,0,0,0.0);
    
}

.menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    z-index: 1;
    background: #dbdbdb;
    border: 5px, solid, #C7C7C7;
    border-radius: 10px;
}

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {

        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #616161;
        transition-duration: .25s;
    }

        .menu-btn > span::before {
            content: '';
            top: -10px;
        }

        .menu-btn > span::after {
            content: '';
            top: 10px;
        }


.menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}
.menu-icon{
    position:absolute;
    right:10%;
}
.menu-box-element {
    display:grid;
    align-items:center;
    margin:15px auto;
    height: 102px;
    width: 95%;    
    background: rgba(255,255,255,1);
    opacity: 1;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0,0.25);
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    position: relative;

}

    .menu-item:hover {
        background-color: #EFEDED;
    }



#menu-toggle {
    opacity: 0;
}
#menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
}

    #menu-toggle:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu-toggle:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

#menu-toggle:checked ~ .menubox {
    visibility: visible;
    left: 0;
}



.raitninCode body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #11114e;
    background: radial-gradient( circle at 50% 100%, #1d659f, #11114e);
}

.raitninCode body * {
    box-sizing: border-box;
}

.raitninCode .rating-stars {
    display: block;
    width: 50vmin;
    padding: 1.75vmin 10vmin 2vmin 3vmin;
    background: linear-gradient(90deg, #ffffff90 40vmin, #fff0 40vmin 100%);
    border-radius: 5vmin;
    position: relative;
}

.raitninCode .rating-counter {
    font-size: 5.5vmin;
    font-family: Arial, Helvetica, serif;
    color: #9aacc6;
    width: 10vmin;
    text-align: center;
    background: #0006;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 0 5vmin 5vmin 0;
    line-height: 10vmin;
}

.raitninCode .rating-counter:before {
    content: "0";
    transition: all 0.25s ease 0s;
}



.raitninCode input {
    display: none;
}

.raitninCode label {
    width: 5vmin;
    height: 5vmin;
    background: #000b;
    display: inline-flex;
    cursor: pointer;
    margin: 0.5vmin 0.65vmin;
    transition: all 1s ease 0s;
    clip-path: polygon(50% 0%, 66% 32%, 100% 38%, 78% 64%, 83% 100%, 50% 83%, 17% 100%, 22% 64%, 0 38%, 34% 32%);
}

.raitninCode label[for=rs0] {
    display: none;
}

.raitninCode label:before {
    width: 90%;
    height: 90%;
    content: "";
    background: orange;
    z-index: -1;
    display: block;
    margin-left: 5%;
    margin-top: 5%;
    clip-path: polygon(50% 0%, 66% 32%, 100% 38%, 78% 64%, 83% 100%, 50% 83%, 17% 100%, 22% 64%, 0 38%, 34% 32%);
    background: linear-gradient(90deg, yellow, orange 30% 50%, #184580 50%, 70%, #173a75 100%);
    background-size: 205% 100%;
    background-position: 0 0;
}

.raitninCode label:hover:before {
    transition: all 0.25s ease 0s;
}

.raitninCode input:checked + label ~ label:before {
    background-position: 100% 0;
    transition: all 0.25s ease 0s;
}

.raitninCode input:checked + label ~ label:hover:before {
    background-position: 0% 0
}





.raitninCode #rs1:checked ~ .rating-counter:before {
    content: "1";
}

.raitninCode #rs2:checked ~ .rating-counter:before {
    content: "2";
}

.raitninCode #rs3:checked ~ .rating-counter:before {
    content: "3";
}

.raitninCode #rs4:checked ~ .rating-counter:before {
    content: "4";
}

.raitninCode #rs5:checked ~ .rating-counter:before {
    content: "5";
}

.raitninCode label + input:checked ~ .rating-counter:before {
    color: #ffab00 !important;
    transition: all 0.25s ease 0s;
}





.raitninCode label:hover ~ .rating-counter:before {
    color: #9aacc6 !important;
    transition: all 0.5s ease 0s;
    animation: pulse 1s ease 0s infinite;
}

@keyframes pulse {
    50% {
        font-size: 6.25vmin;
    }
}

.raitninCode label[for=rs1]:hover ~ .rating-counter:before {
    content: "1" !important;
}

.raitninCode label[for=rs2]:hover ~ .rating-counter:before {
    content: "2" !important;
}

.raitninCode label[for=rs3]:hover ~ .rating-counter:before {
    content: "3" !important;
}

.raitninCode label[for=rs4]:hover ~ .rating-counter:before {
    content: "4" !important;
}

.raitninCode label[for=rs5]:hover ~ .rating-counter:before {
    content: "5" !important;
}


.raitninCode input:checked:hover ~ .rating-counter:before {
    animation: none !important;
    color: #ffab00 !important;
}







textarea {
    margin-top: 10px;
    margin-left: 50px;
    width: 350px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    
}


    textarea:focus {
        background: none repeat scroll 0 0 #FFFFFF;
        outline-width: 0;
    }