@page
@model Somokat.Views.Home.payModel
@{
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/Style.css" />
</head>


<div class="full-screen-div">
    <div class="containerrr">
        <form class="max-w-sm mx-auto">
            <label for="number-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Введите сумму:</label>
            <input id="InputPay"  type="number" id="number-input" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="90210" required />
        </form>
        <input id="ButtonPay" class="menu-box-element" onclick="Pay()" type="button" value="Пополнить" />
    </div>
</div>

<script>
    // $(document).on('click', '#ButtonPay', function () {

    //     inputPay();
 
    // });
    // document.getElementById('ButtonPay').onclick = Pay();


    var inputPay = document.getElementById('InputPay');
    console.log(localStorage.getItem('userId'));
    console.log(inputPay.value);

    function Pay() {
        $.ajax({
            url: 'https://localhost:7209/Somokat/Pay',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                userId: localStorage.getItem('userId'),
                ValuePay: inputPay.value,
            }),
            success:function(){
                    window.location.href = 'https://localhost:7099/Home/';             
            },
            error: function () {
                alert('Произошла ошибка.');
            },
        });
    }
</script>
