@{

    ViewBag.Title = "Registration";



}
<head>
    <link rel="stylesheet" href="~/css/Style.css" />
</head>

<div class="full-screen-div">
    <div class="containerrr">
        <h2>Логин</h2>
        <input id="inputPhone" value="+7(___)___-__-__" />
        <h2>Пароль</h2>
        <input type="password" id="inputPassword" />
        <h2>Повторите пароль</h2>
        <input type="password" id="inputPasswordReapet" />

        <input class="button" type="submit" onclick="RegUser()" value="Зарегестрироваться" />
    </div>
</div>
<script>

    let inputPhone = document.getElementById("inputPhone");
    inputPhone.oninput = () => phoneMask(inputPhone)
    function phoneMask(inputEl) {
        let patStringArr = "+7(___)___-__-__".split('');
        let arrPush = [3, 4, 5, 7, 8, 9, 11, 12, 14, 15]
        let val = inputEl.value;
        let arr = val.replace(/\D+/g, "").split('').splice(1);
        let n;
        let ni;
        arr.forEach((s, i) => {
            n = arrPush[i];
            patStringArr[n] = s
            ni = i
        });
        arr.length < 10 ? inputEl.style.color = 'red' : inputEl.style.color = 'green';
        inputEl.value = patStringArr.join('');
        n ? inputEl.setSelectionRange(n + 1, n + 1) : inputEl.setSelectionRange(17, 17)
    }
</script>
<script>
    function RegUser() {
        var password = document.getElementById("inputPassword").value;
        var password2 = document.getElementById("inputPasswordReapet").value;
        var phoneNumber = document.getElementById("inputPhone").value;
        phoneNumber = phoneNumber.replace(/\D/g, '');

        if (phoneNumber.trim() === '' || password.trim() === '') {
            alert('Пожалуйста, заполните все поля');
            return;
        }

        // Проверка на правильную заполненность номера телефона (формат 10 цифр)
        if (password!=password2) { 
            alert('Пароли не совпадают');
            return;

        }

        console.log(phoneNumber);
        if (phoneNumber.length!=11) {

            alert('Пожалуйста, введите корректный номер телефона');
            return;
        }


        var data = {
            phoneNumber, password
        };
        console.log(data);

        $.ajax({
            url: 'https://localhost:7209/Authorization/Registration',
            method: 'POST',
            contentType: 'application/json', // Установка заголовка Content-Type
            data: JSON.stringify(data),
            success: function (response, textStatus, xhr) {
                console.log(response + "    " + xhr.status);
                // Переход на другую страницу при статусе 200
                if (xhr.status === 200) {
                    window.location.href = 'https://localhost:7099/Home/Login';
                } else {
                    alert('Error: ' + xhr.status);
                }
            },
            error: function () {
                alert('Аккаунт уже существует');
            }
        });


    }
</script>
